# Dependencies
node_modules/
*/node_modules/

# Env files
.env
*/.env

# Build output
backend/dist/
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace
